[Unit]
Description=Run intraday danta observation every 15 minutes

[Timer]
OnCalendar=*-*-* *:00,15,30,45:30
Persistent=true
Unit=coinscreener-intraday-observe.service

[Install]
WantedBy=timers.target

